* { margin: 0; padding: 0; box-sizing: border-box; }

@font-face {
    font-family: "Benguiat";
    src: url(../font/Benguiat\ Bold.ttf);
}


*::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
}

html {
    scrollbar-width: none !important;
}


body {
    -ms-overflow-style: none !important;
}

body {
    background-color: #ffffff;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden !important;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    position: absolute;
    z-index: 9;
}

section { width: 100%; display: flex; padding: 7vw; }

button { cursor: pointer; font-family: "Poppins"; border: none; background: transparent; }


#preloader {
    width: 100%;
    height: 100vh;
    background-color: #0c0102;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#preloader img { width: 150px; height: auto; }


.hero {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(12, 1, 2, 0) 0%, #0C0102 100%);
    z-index: 2;
    
}


.hero picture { position: absolute; inset: 0; z-index: 1; }
.hero picture img { width: 100%; height: 100%; object-fit: cover; }

.hero .esquerda, .hero .direita { width: 30%; z-index: 3; }
.hero .esquerda h3 { font-size: 24px; letter-spacing: 4px; }
.hero .esquerda h1 { font-size: 5vw; font-family: "Benguiat"; }
.hero .direita { display: flex; flex-direction: column; align-items: flex-end; }
.hero .direita p { font-size: 2vw; margin-bottom: 32px; text-align: right; }
.botaoPrincipal { border-bottom: 1px solid white; padding: 16px 0; display: flex; gap: 12px; }


.bgMonstro {
    background-image: url("/assets/img/bg-sec2.webp");
    background-position: center;
    background-size: cover;
    z-index: 2;
    position: relative;
    background-color: #0c0102;
}

.secaoCidade { flex-direction: column; }
.secaoCidade .cards { margin-top: 52px; display: flex; justify-content: space-between; gap: 20px; }
.card {
    width: 32%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
.card:nth-child(1) { background-image: url("/assets/img/card1.webp"); }
.card:nth-child(2) { background-image: url("/assets/img/card2.webp"); }
.card:nth-child(3) { background-image: url("/assets/img/card3.webp"); }


.secaoObrigado {
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
     text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000
}

.secaoObrigado ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    align-items: flex-start;
}
.secaoObrigado ul li { display: flex; flex-direction: column; align-items: center; flex: 1; text-align: center; }
.secaoObrigado h1 { font-size: 1vw; margin-bottom: 30px; min-height: 2.5em; display: flex; align-items: center; }
.secaoObrigado img { width: 100%; max-width: 180px; height: auto; }
.efeitoHover { transition: transform 0.4s ease, opacity 0.4s ease, filter 0.4s ease; }
.efeitoHover:hover { transform: scale(1.1) translateY(-10px); opacity: 0.8; filter: drop-shadow(0 0 10px #ffffff); }

footer {
    background: url("/assets/img/bg-footer.webp") center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoFooter { display: flex; width: 100%; padding: 7vw; }
.logoFooter { width: 100%; }
.logoFooter h2 { font-size: 3.7vw; font-family: "Benguiat"; }

.textoInfinito { width: max-content; display: flex; overflow: hidden; }
.textoInfinito h3 {
    color: rgb(191, 191, 191);
    font-size: 12vw;
    font-family: "Benguiat";
    mix-blend-mode: color-dodge;
    padding-left: 8vw;
    animation: textoInfinito 10s infinite linear;
}

@keyframes textoInfinito { 100% { transform: translateX(-100%); } }


@media (max-width: 1024px) {
    .secaoObrigado ul { flex-wrap: wrap; justify-content: center; gap: 40px; }
    .secaoObrigado ul li { width: 45%; flex: none; }
    .secaoObrigado h1 { font-size: 2.5vw; }
}

@media (max-width: 600px) {
    header img { width: 120px; }
    .hero { flex-direction: column; padding-top: 30vh; }
    .hero .esquerda, .hero .direita { width: 100%; text-align: center; align-items: center; }
    .hero .esquerda h1 { font-size: 12vw; }
    .hero .direita p { font-size: 5vw; text-align: center; }
    
    .secaoCidade .cards { flex-direction: column; }
    .card { width: 100%; }

    .secaoObrigado ul { flex-direction: column; align-items: center; gap: 50px; }
    .secaoObrigado h1 { font-size: 5vw; min-height: auto; text-align: center; }
    .secaoObrigado img { max-width: 140px; }
    
    footer .logoFooter h2 { font-size: 10vw; text-align: center; }
    footer .logoFooter h3 { text-align: center; }
}